* {
  font-family: "Arial";
}
.app {
  h1 {
    text-align: center;
  }
  .main {
    display: flex;
    flex-direction: row;
    .map {
      flex: 2;
      .map-content {
        overflow: hidden;
        border-radius: 10px;
        position: relative;
      }
      .map-bg {
        width: 100%;
      }
      .map-board {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        .place-node {
          opacity: 0.8;
          cursor: pointer;
          border: 1px solid black;
          &.Hotel {
            fill: #9ee79e;
          }
          &.Hospital {
            fill: #ff50d9;
          }
          &.Supermarket {
            fill: #fd777d;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .paths {
      flex: 1;
      .path-content {
        padding: 10px;
        margin: 5px;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
      }
      .loading-box {
        justify-content: center;
        display: flex;
        margin-top: 20px;
      }
      .available-routes {
        text-align: center;
        .route {
          text-align: left;
          padding: 10px;
          margin: 5px;
          border: 1px solid #cbcbcb;
          border-radius: 5px;
          .header {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .color-box {
              width: 20px;
              height: 15px;
              margin: 1px 8px;
            }
          }
          .step {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
